// Search form
input, textarea {
    width: 100%;
    margin-bottom: 12px;
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    padding: 5px;
}

textarea {
    height: 175px;
}