/*--------------------------------------------------------------
## RESET
--------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr{
    margin-top: 0;
    margin-bottom:1.5rem;
}

a:hover {
  text-decoration: none;
}

section h2 {
  color: $brand-primary;
}

.text-area-cms *:last-child {
  margin-bottom: 0px;
}

/*--------------------------------------------------------------
## GLOBAL/MISC
--------------------------------------------------------------*/
html, body {
    font-size: 16px/1.5;
    padding: 0;
    margin: 0;
}

h1 {
  color: $brand-primary;
}
a.special {
  position: relative;
  display: inline-block;
}
a.special:before {
  content: "...";
  font-size: 50px;
  color: #94cc35;
  position: absolute;
  left: -35px;
  bottom: -12px;
}

/*--------------------------------------------------------------
## HELPERS
--------------------------------------------------------------*/
.island {
  padding: 1.5rem 0;
}

.l-island {
  padding: 2rem 0;
}

.xl-island {
  padding: 3rem 0;
}

.south-coast {
  padding-bottom: 1.5rem;
}

.north-coast {
  padding-top: 1.5rem;
}

.l-south-coast {
  padding-bottom: 2rem;
}

.l-north-coast {
  padding-top: 2rem;
}

@media (max-width: 1024px) {
  .xl-island, .l-island {
    padding: 1.5rem 0;
  }
  .l-south-coast {
    padding-bottom: 1.5rem;
  }
  .l-north-coast {
    padding-top: 1.5rem;
  }
}