#page-sidebar .widget {
    background: #20255d;
    padding: 25px;
    color: white;
    border-radius: 30px;
    margin-bottom: 20px;
    ul {
        padding-left: 0px;
        list-style-position: inside;
    }
}