.Contact {
    ul {
        position: relative;
        top: 80px;
        font-size: 24px;
        list-style-type: none;
        padding-left: 0px;
    }
}

@media(max-width: 400px) {
    .Contact {
        ul {
            top: 0px;
        }
    }
    a.special:before {
        display: none;
    }
}

span.wpcf7-not-valid-tip {
    margin-bottom: 10px;
}

div.wpcf7 .ajax-loader {
    display: none;
}