.Social {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;
    i {
        font-size: 24px;
        margin-bottom: 12px;
    }
    p:last-child {margin-bottom: 0px;}

    .fa-facebook {
        color: #3b5998;
    }

    .fa-twitter {
        color: #55acee;
    }

    .fa-newspaper-o {
        color: #8fc439;
    }

}

@media(max-width: 400px) {
    .Social .fa-newspaper-o {
        margin-top: 15px;
    }
}